In [1]:
import pandas as pd
from sqlalchemy import create_engine
from secrets import settings

In [9]:
engine = create_engine(settings['skills_db'])
# JMLR
df = pd.read_sql_query('select title, skills, data_skills from "ContentJMLR"', engine)
df['content'] = 'JMLR'
# Youtube
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentYoutube"', engine)
df_t['content'] = 'Youtube'
df = df.append(df_t)
# Medium
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentMedium"', engine)
df_t['content'] = 'Medium'
df = df.append(df_t)
# KDnuggets
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentKDnuggets"', engine)
df_t['content'] = 'KDnuggets'
df = df.append(df_t)
engine.dispose()
df.head()

,title,skills,data_skills,content
0,On the Optimality of Kernel-Embedding Based Go...,TestNG; Testing,None,JMLR
1,Domain Generalization by Marginal Transfer Lea...,Algorithm; Analysis; Supervised Learning; Trai...,None,JMLR
2,Regulating Greed Over Time in Multi-Armed Bandits,Algorithm; Analysis; Exploit; Retail; Sentry; ...,None,JMLR
3,An Empirical Study of Bayesian Optimization: A...,Accounting; Algorithm; Bayesian Optimization; ...,None,JMLR
4,The Decoupled Extended Kalman Filter for Dynam...,Exploit; Modelling; Uncertainty,None,JMLR

In [10]:
df['content'].value_counts()

Medium       8143
Youtube      1366
KDnuggets     587
JMLR          244
Name: content, dtype: int64

In [12]:
skill_list = []

for _, row in df.iterrows():
    data_skills = row['data_skills']
    if data_skills is None:
        continue
    data_skills = data_skills.split('; ')
    for s in data_skills:
        skill_list.append({'skill': s, 'content': row['content']})

df_s = pd.DataFrame.from_dict(skill_list)
df_s.head()

            skill content
0   R programming    JMLR
1  Visualizations    JMLR
2     Regressions    JMLR
3     Regressions    JMLR
4     Regressions    JMLR

In [35]:
df_s2 = df_s.value_counts().reset_index()
df_s2 = df_s2.pivot(index='skill', columns='content', values=0)
df_s2 = df_s2.fillna(0)
df_s2.to_csv('DataSkillContentCount.csv')
df_s2

content                            JMLR  KDnuggets  Medium  Youtube
skill
AI                                  2.0       79.0   555.0     79.0
Apache                              0.0        0.0    16.0      7.0
C++                                 3.0        1.0     3.0     43.0
Cloud Technologies                  0.0        0.0     0.0      1.0
Computer Vision                     0.0       15.0    44.0     38.0
Dashboards                          0.0        2.0    32.0     53.0
Data Cleansing / Preparation        0.0       21.0    12.0     48.0
Database Management System (DBMS)   0.0        0.0     1.0     39.0
Deep Learning                       5.0       48.0   177.0     45.0
ETL                                 0.0       11.0    24.0     39.0
Excel                               0.0        3.0    23.0     74.0
Financial Statements                0.0        0.0     0.0     32.0
Github                             15.0       11.0    40.0     45.0
Graph Theory                        0.0        1.0     4.0     30.0
Hadoop                              0.0        1.0     2.0     42.0
Java                                0.0        1.0     7.0     44.0
JavaScript                          0.0        2.0    24.0     42.0
MATLAB                              1.0        1.0     4.0     29.0
Mongo DB                            0.0        0.0     2.0     38.0
NLP                                 0.0       57.0   130.0     41.0
NoSQL                               0.0        8.0     6.0     37.0
Power BI                            0.0        0.0    15.0     41.0
Presentation Skill                 11.0        4.0    16.0     43.0
Python Programming                 13.0      170.0  1262.0    116.0
R programming                      10.0       12.0   106.0     45.0
Regressions                        44.0       19.0   166.0     45.0
Reinforcement                       8.0        5.0    52.0     45.0
SPARK                               0.0        2.0    50.0     49.0
SQL                                 1.0       31.0    95.0     63.0
Statistics                         12.0       34.0    69.0     34.0
Supervised Machine Learning         1.0        0.0    15.0     23.0
Tableau                             0.0        1.0    20.0     44.0
Time Series Analysis                0.0        0.0    16.0     25.0
Unsupervised Machine Learning       1.0        0.0    15.0     23.0
Visualizations                      7.0       34.0   130.0     43.0

In [33]:
df.loc[df['skills'].str.contains('apache', case=False, na=False), 'content'].value_counts()

Medium       106
Youtube      101
KDnuggets      5
Name: content, dtype: int64

In [34]:
df.loc[df['skills'].str.contains('cloud', case=False, na=False), 'content'].value_counts()

Youtube      40
Medium       34
KDnuggets     7
Name: content, dtype: int64