In [3]:
import pandas as pd
from sqlalchemy import create_engine
from secrets import settings

In [7]:
engine = create_engine(settings['skills_db'])
# JMLR
df = pd.read_sql_query('select title, skills, data_skills from "ContentJMLR"', engine)
df['content'] = 'JMLR'
# Youtube
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentYoutube"', engine)
df_t['content'] = 'Youtube'
df = df.append(df_t)
# Medium
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentMedium"', engine)
df_t['content'] = 'Medium'
df = df.append(df_t)
# KDnuggets
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentKDnuggets"', engine)
df_t['content'] = 'KDnuggets'
df = df.append(df_t)
# FreeCodeCamp
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentFreeCodeCampCourse"', engine)
df_t['content'] = 'FreeCodeCamp'
df = df.append(df_t)
engine.dispose()
df = df.reset_index(drop=True)
df.head()

,title,skills,data_skills,content
0,On the Optimality of Kernel-Embedding Based Go...,TestNG; Testing,None,JMLR
1,Domain Generalization by Marginal Transfer Lea...,Algorithm; Analysis; Supervised Learning; Trai...,None,JMLR
2,Regulating Greed Over Time in Multi-Armed Bandits,Algorithm; Analysis; Exploit; Retail; Sentry; ...,None,JMLR
3,An Empirical Study of Bayesian Optimization: A...,Accounting; Algorithm; Bayesian Optimization; ...,None,JMLR
4,The Decoupled Extended Kalman Filter for Dynam...,Exploit; Modelling; Uncertainty,None,JMLR

In [8]:
df['content'].value_counts()

Medium          12356
Youtube          5565
KDnuggets         831
JMLR              290
FreeCodeCamp       46
Name: content, dtype: int64

In [9]:
skill_list = []

for _, row in df.iterrows():
    data_skills = row['data_skills']
    if not isinstance(data_skills, str):
        continue
    data_skills = data_skills.split('; ')
    for s in data_skills:
        skill_list.append({'skill': s, 'content': row['content']})

df_s = pd.DataFrame.from_dict(skill_list)
df_s.head()

                           skill content
0                             AI    JMLR
1                  R programming    JMLR
2  Unsupervised Machine Learning    JMLR
3                 Visualizations    JMLR
4                    Regressions    JMLR

In [10]:
df_s2 = df_s.value_counts().reset_index()
df_s2 = df_s2.pivot(index='skill', columns='content', values=0)
df_s2 = df_s2.fillna(0)
df_s2['Total'] = df_s2.sum(axis=1)
df_s2.to_csv('DataSkillContentCount.csv')
df_s2

content,FreeCodeCamp,JMLR,KDnuggets,Medium,Youtube,Total
skill,,,,,,
AI,2.0,33.0,206.0,1812.0,473.0,2526.0
Apache,0.0,0.0,0.0,19.0,48.0,67.0
C++,0.0,3.0,1.0,6.0,162.0,172.0
Cloud Technologies,0.0,0.0,10.0,135.0,75.0,220.0
Computer Vision,0.0,0.0,21.0,70.0,150.0,241.0
Dashboards,0.0,0.0,4.0,52.0,192.0,248.0
Data Cleansing / Preparation,0.0,0.0,28.0,20.0,125.0,173.0
Database Management System (DBMS),0.0,0.0,0.0,2.0,161.0,163.0
Deep Learning,0.0,13.0,80.0,358.0,196.0,647.0
ETL,0.0,0.0,12.0,33.0,151.0,196.0
Excel,1.0,0.0,3.0,40.0,293.0,337.0
Financial Statements,0.0,0.0,0.0,0.0,117.0,117.0
Github,0.0,17.0,19.0,50.0,170.0,256.0
Graph Theory,0.0,0.0,2.0,6.0,113.0,121.0
Hadoop,0.0,0.0,1.0,7.0,135.0,143.0
Java,0.0,0.0,1.0,12.0,175.0,188.0
JavaScript,12.0,0.0,2.0,42.0,165.0,221.0
MATLAB,0.0,1.0,1.0,9.0,118.0,129.0
Mongo DB,2.0,0.0,0.0,2.0,168.0,172.0
NLP,0.0,1.0,80.0,200.0,165.0,446.0
NoSQL,0.0,0.0,8.0,7.0,130.0,145.0
Power BI,0.0,0.0,0.0,32.0,174.0,206.0
Presentation Skill,0.0,17.0,7.0,21.0,169.0,214.0
Python Programming,6.0,15.0,226.0,1887.0,463.0,2597.0
R programming,1.0,12.0,20.0,149.0,200.0,382.0
Regressions,0.0,50.0,21.0,257.0,191.0,519.0
Reinforcement,0.0,11.0,10.0,67.0,162.0,250.0
SPARK,0.0,0.0,3.0,76.0,173.0,252.0
SQL,2.0,1.0,39.0,158.0,264.0,464.0
Statistics,0.0,15.0,39.0,95.0,145.0,294.0
Supervised Machine Learning,0.0,27.0,32.0,289.0,168.0,516.0
Tableau,0.0,0.0,2.0,24.0,168.0,194.0
Time Series Analysis,0.0,0.0,3.0,23.0,78.0,104.0
Unsupervised Machine Learning,0.0,23.0,7.0,107.0,111.0,248.0
Visualizations,2.0,8.0,40.0,195.0,166.0,411.0

In [ ]:
df.loc[df['skills'].str.contains('cloud', case=False, na=False), 'content'].value_counts()