In [1]:
import pandas as pd
from sqlalchemy import create_engine
from secrets import settings

In [2]:
engine = create_engine(settings['skills_db'])
# JMLR
df = pd.read_sql_query('select title, skills, data_skills from "ContentJMLR"', engine)
df['content'] = 'JMLR'
# Youtube
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentYoutube"', engine)
df_t['content'] = 'Youtube'
df = df.append(df_t)
# Medium
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentMedium"', engine)
df_t['content'] = 'Medium'
df = df.append(df_t)
# KDnuggets
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentKDnuggets"', engine)
df_t['content'] = 'KDnuggets'
df = df.append(df_t)
# FreeCodeCamp
df_t = pd.read_sql_query('select title, skills, data_skills from "ContentFreeCodeCampCourse"', engine)
df_t['content'] = 'FreeCodeCamp'
df = df.append(df_t)
engine.dispose()
df.head()

,title,skills,data_skills,content
0,On the Optimality of Kernel-Embedding Based Go...,TestNG; Testing,None,JMLR
1,Domain Generalization by Marginal Transfer Lea...,Algorithm; Analysis; Supervised Learning; Trai...,None,JMLR
2,Regulating Greed Over Time in Multi-Armed Bandits,Algorithm; Analysis; Exploit; Retail; Sentry; ...,None,JMLR
3,An Empirical Study of Bayesian Optimization: A...,Accounting; Algorithm; Bayesian Optimization; ...,None,JMLR
4,The Decoupled Extended Kalman Filter for Dynam...,Exploit; Modelling; Uncertainty,None,JMLR

In [3]:
df['content'].value_counts()

Medium          9836
Youtube         2775
KDnuggets        723
JMLR             244
FreeCodeCamp      46
Name: content, dtype: int64

In [4]:
skill_list = []

for _, row in df.iterrows():
    data_skills = row['data_skills']
    if data_skills is None:
        continue
    data_skills = data_skills.split('; ')
    for s in data_skills:
        skill_list.append({'skill': s, 'content': row['content']})

df_s = pd.DataFrame.from_dict(skill_list)
df_s.head()

            skill content
0   R programming    JMLR
1  Visualizations    JMLR
2     Regressions    JMLR
3     Regressions    JMLR
4     Regressions    JMLR

In [5]:
df_s2 = df_s.value_counts().reset_index()
df_s2 = df_s2.pivot(index='skill', columns='content', values=0)
df_s2 = df_s2.fillna(0)
df_s2.to_csv('DataSkillContentCount.csv')
df_s2

content,FreeCodeCamp,JMLR,KDnuggets,Medium,Youtube
skill,,,,,
AI,1.0,2.0,102.0,686.0,152.0
Apache,0.0,0.0,0.0,17.0,17.0
C++,0.0,3.0,1.0,5.0,83.0
Cloud Technologies,0.0,0.0,0.0,0.0,6.0
Computer Vision,0.0,0.0,19.0,57.0,75.0
Dashboards,0.0,0.0,4.0,40.0,98.0
Data Cleansing / Preparation,0.0,0.0,25.0,12.0,58.0
Database Management System (DBMS),0.0,0.0,0.0,2.0,80.0
Deep Learning,0.0,5.0,63.0,211.0,100.0
ETL,0.0,0.0,12.0,28.0,78.0
Excel,1.0,0.0,3.0,27.0,148.0
Financial Statements,0.0,0.0,0.0,0.0,61.0
Github,0.0,15.0,17.0,42.0,82.0
Graph Theory,0.0,0.0,2.0,4.0,58.0
Hadoop,0.0,0.0,1.0,3.0,69.0
Java,0.0,0.0,1.0,10.0,88.0
JavaScript,12.0,0.0,2.0,29.0,82.0
MATLAB,0.0,1.0,1.0,9.0,62.0
Mongo DB,2.0,0.0,0.0,2.0,80.0
NLP,0.0,0.0,74.0,149.0,85.0
NoSQL,0.0,0.0,8.0,6.0,63.0
Power BI,0.0,0.0,0.0,27.0,88.0
Presentation Skill,0.0,11.0,6.0,16.0,84.0
Python Programming,6.0,13.0,202.0,1486.0,230.0
R programming,1.0,10.0,17.0,125.0,102.0
Regressions,0.0,44.0,20.0,212.0,93.0
Reinforcement,0.0,8.0,7.0,61.0,87.0
SPARK,0.0,0.0,2.0,60.0,94.0
SQL,2.0,1.0,37.0,109.0,119.0
Statistics,0.0,12.0,37.0,82.0,65.0
Supervised Machine Learning,0.0,1.0,0.0,17.0,45.0
Tableau,0.0,0.0,2.0,23.0,91.0
Time Series Analysis,0.0,0.0,3.0,20.0,37.0
Unsupervised Machine Learning,0.0,1.0,0.0,17.0,45.0
Visualizations,2.0,7.0,38.0,153.0,83.0

In [8]:
df.loc[df['skills'].str.contains('cloud', case=False, na=False), 'content'].value_counts()

Youtube      79
Medium       44
KDnuggets     9
Name: content, dtype: int64