In [1]:
import pandas as pd
from sqlalchemy import create_engine
from secrets import settings

In [2]:
engine = create_engine(settings['skills_db2'])

In [9]:
df_j = pd.read_sql_query('select * from "Job"', engine)
jobs = df_j['Jobs'].tolist()
print(jobs)
len(jobs)

['Accounting/Finance', 'Audit and Financial/Business Controls', 'Business Development', 'Chemical Engineering', 'Civil Engineering', 'Corporate Affairs/Communications', 'Corporate Development', 'Customer Support/Operations', 'Data Science and Business Intelligence', 'General Management and Administration', 'Human Resources', 'Information Technology', 'Legal', 'Manufacturing/Operations', 'Marketing', 'Mechanical Engineering', 'Product Development Support', 'Project/Program Management', 'Research Science', 'Risk Management', 'Sales', 'Supply Chain and Logistics', 'Technical Customer Support', 'Training']

24

In [10]:
job_map = {
    'Accounting': 'Accounting/Finance',
    'Finance': 'Accounting/Finance',
    'Audit': 'Audit and Financial/Business Controls',
    'Financial Controls': 'Audit and Financial/Business Controls',
    'Business Controls': 'Audit and Financial/Business Controls',
    'Corporate Affairs': 'Corporate Affairs/Communications',
    'Communications': 'Corporate Affairs/Communications',
    'Customer Support': 'Customer Support/Operations',
    'Customer Operations': 'Customer Support/Operations',
    'General Management': 'General Management and Administration',
    'Administration': 'General Management and Administration',
    'Manufacturing': 'Manufacturing/Operations',
    'Operations': 'Manufacturing/Operations',
    'Project Management': 'Project/Program Management',
    'Program Management': 'Project/Program Management',
    'Supply Chain': 'Supply Chain and Logistics',
    'Logistics': 'Supply Chain and Logistics',
}

In [5]:
df_yt = pd.read_sql_query('select * from "ContentYoutube"', engine)
print(len(df_yt))
df_yt.head()

4862

,id,title,channel,published_year,published_month,length,view_count,url,description,skills,data_skills
0,-T_l8TjAzXk,WHY LEARN TABLEAU? | Is Tableau worth learning...,Abhishek Agarrwal,2020.0,10.0,00:12:04,6634.0,https://www.youtube.com/watch?v=-T_l8TjAzXk,Many people who are a beginner and aspiring to...,Business Intelligence (BI); Business Intellige...,Tableau
1,0nH1ospwJd4,4 Quick Tips to Make an Engaging PowerPoint Pr...,ClassPoint,2020.0,10.0,00:09:36,5578.0,https://www.youtube.com/watch?v=0nH1ospwJd4,Here're 4 quick tips on how to make engaging P...,Animation; Microsoft PowerPoint; Presentation,Presentation Skill
2,1LHch7usbzY,Processing Covid-19 Data with Apache Spark,Manning Publications,2020.0,10.0,01:14:32,1056.0,https://www.youtube.com/watch?v=1LHch7usbzY,"""Spark in Action, Second Edition: Covers Apac...",Apache Spark; Java; Processing; Python; Scala,SPARK; Java; Python Programming
3,2ViNp_UijMQ,Apache Spark with Scala By Example - learn Apa...,Petrina Corine,2020.0,10.0,00:03:46,5.0,https://www.youtube.com/watch?v=2ViNp_UijMQ,Learn the fundamentals and run examplesof Spa...,Apache Spark; Dataset; Distributed Database; S...,SPARK
4,2sTeNU3nE3o,ETL explained in 5 Minutes,DaveSplains,2020.0,10.0,00:04:50,132.0,https://www.youtube.com/watch?v=2sTeNU3nE3o,"The concept of Extract Transform Load , or E...",Extract Transform Load (ETL); Programming; Tra...,ETL

In [20]:
for i, row in df_yt.iterrows():
    has_job = []
    title = desc = ''
    if row['title'] != None:
        title = row['title'].lower()
    if row['description'] != None:
        desc = row['description'].lower()
    for job in jobs:
        if job.lower() in title or job.lower() in desc:
            has_job.append(job)
    for j, m in job_map.items():
        if j.lower() in title or j.lower() in desc:
            has_job.append(m)
    has_job = list(set(has_job))
    df_yt.loc[i, 'jobs'] = '; '.join(has_job)

len(df_yt.loc[df_yt['jobs'] != ''])

355

In [21]:
df_yt['jobs'].value_counts()

                                                   4507
Training                                            203
Accounting/Finance                                   44
Marketing                                            26
Sales                                                26
Manufacturing/Operations                             25
Audit and Financial/Business Controls                 5
General Management and Administration                 4
Corporate Affairs/Communications                      4
Project/Program Management                            4
Legal                                                 2
Manufacturing/Operations; Training                    2
Training; Accounting/Finance                          2
Information Technology                                2
Marketing; Corporate Affairs/Communications           1
General Management and Administration; Training       1
Sales; Training; Marketing                            1
Supply Chain and Logistics                            1
Sales; Marketing                                      1
Human Resources                                       1
Name: jobs, dtype: int64

In [32]:
cols = ['id', 'title', 'channel', 'description', 'skills', 'jobs']
df_yt.loc[df_yt['jobs'] != ''][cols].to_csv('youtube.csv', index=False)

In [22]:
df_m = pd.read_sql_query('select * from "ContentMedium"', engine)
print(len(df_m))
df_m.head()

11552

,id,title,subtitle,author,publication,published_date,read_time_mins,claps,url,skills,data_skills
0,11b6ccd8cd54,Python Betting Model for Six Football Leagues,"Using statistics, Pandas, BeautifulSoup and AW...",Liam Hartley,Python in Plain English,2021-01-01,8.0,100,https://python.plainenglish.io/python-betting-...,Amazon Web Service (AWS); Pandas; Python; Stat...,Python Programming; Statistics
1,184f9f16f632,Implementing VisualTtransformer in PyTorch,"Hi guys, happy new year! Today we are going to...",Francesco Zuppichini,Towards Data Science,2021-01-01,6.0,214,https://towardsdatascience.com/implementing-vi...,PyTorch,None
2,19f9b76d43dc,Data Visualization using Python Part-I,Data visualization,Tanvi Penumudy,Analytics Vidhya,2021-01-01,5.0,408,https://medium.com/analytics-vidhya/data-visua...,Data Visualization; Python; Visualization,Python Programming; Visualizations
3,1de54e479279,Shakespeare versus Eminem— who’s the better ly...,"He is known for his poetry, his writings on life…",Jeroen van Zeeland,Towards Data Science,2021-01-01,9.0,142,https://towardsdatascience.com/shakespeare-ver...,Writing,None
4,1f196b061192,How to utilize Feature Importance correctly,Feature Importance is a part of Feature select...,Nhu Hoang,Towards Data Science,2021-01-01,5.0,182,https://towardsdatascience.com/how-to-utilize-...,Feature Selection,None

In [24]:
for i, row in df_m.iterrows():
    has_job = []
    title = desc = ''
    if row['title'] != None:
        title = row['title'].lower()
    if row['subtitle'] != None:
        desc = row['subtitle'].lower()
    for job in jobs:
        if job.lower() in title or job.lower() in desc:
            has_job.append(job)
    for j, m in job_map.items():
        if j.lower() in title or j.lower() in desc:
            has_job.append(m)
    has_job = list(set(has_job))
    df_m.loc[i, 'jobs'] = '; '.join(has_job)

len(df_m.loc[df_m['jobs'] != ''])

253

In [26]:
df_m['jobs'].value_counts()

                                         11299
Training                                   104
Manufacturing/Operations                    42
Marketing                                   28
Accounting/Finance                          24
Sales                                       23
Legal                                        7
Supply Chain and Logistics                   5
Sales; Marketing                             3
Corporate Affairs/Communications             3
Audit and Financial/Business Controls        2
Risk Management                              2
General Management and Administration        2
Customer Support/Operations                  2
Chemical Engineering                         2
Civil Engineering                            1
Project/Program Management                   1
Business Development                         1
Training; Marketing                          1
Name: jobs, dtype: int64

In [33]:
cols = ['id', 'title', 'subtitle', 'author', 'skills', 'jobs']
df_m.loc[df_m['jobs'] != ''][cols].to_csv('medium.csv', index=False)